# Snakemake temporaries
.snakemake
.showyourwork

# Showyourwork output files
report.html
arxiv.tar.gz
ms.pdf
dag.pdf
*.pdf

# python stuff
notebooks/.ipynb_checkpoints/*

#
*~
*.tar.gz

# do not commit datafile
src/data/datafile1.txt

# do not commit comments
comments/*

submitted.pdf

__pycache__